<%= form_for(@user_prof) do |f| %>
  <% if @user_prof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_prof.errors.count, "error") %> prohibited this user_prof from being saved:</h2>

      <ul>
      <% @user_prof.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :img %><br>
    <%= f.text_field :img %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tall %><br>
    <%= f.text_field :tall %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.number_field :sex %>
  </div>
  <div class="field">
    <%= f.label :body_type %><br>
    <%= f.number_field :body_type %>
  </div>
  <div class="field">
    <%= f.label :hobby %><br>
    <%= f.text_field :hobby %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
