<p id="notice"><%= notice %></p>

<h1>Listing User Profs</h1>

<table>
  <thead>
    <tr>
      <th>Age</th>
      <th>Img</th>
      <th>Place</th>
      <th>Name</th>
      <th>Tall</th>
      <th>Weight</th>
      <th>Sex</th>
      <th>Body type</th>
      <th>Hobby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_profs.each do |user_prof| %>
      <tr>
        <td><%= user_prof.age %></td>
        <td><%= user_prof.img %></td>
        <td><%= user_prof.place %></td>
        <td><%= user_prof.name %></td>
        <td><%= user_prof.tall %></td>
        <td><%= user_prof.weight %></td>
        <td><%= user_prof.sex %></td>
        <td><%= user_prof.body_type %></td>
        <td><%= user_prof.hobby %></td>
        <td><%= link_to 'Show', user_prof %></td>
        <td><%= link_to 'Edit', edit_user_prof_path(user_prof) %></td>
        <td><%= link_to 'Destroy', user_prof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User prof', new_user_prof_path %>
